<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ybigta.webtoon_recommendation.mapper.CommentMapper">
	<select id="testProcedureCall" statementType="CALLABLE" 
		resultType="ybigta.webtoon_recommendation.domain.Comment">
		{ call test_procedure(#{likes})}
	</select>
</mapper>